
<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php $_product = $block->getProduct(); ?>
<form action="<?php /* @escapeNotVerified */ echo $block->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
	<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $_product->getId() ?>" />
	<input type="hidden" name="selected_configurable_option" value="" />
	<input type="hidden" name="related_product" id="related-products-field" value="" />
	<?php echo $block->getBlockHtml('formkey')?>
	<?php echo $block->getChildHtml('product.form.wrapper.content'); ?>
	<?php echo $block->getChildHtml('booking.content'); ?>
	<div id="descripcion_producto">
		<h3>Description car</h3>
		<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
	</div>

	<div id="main_attributes_car">
		<h3>Main attributes</h3>
		<ul id="product_attributes">
			<li class="attribute_option"><span class="attribute_icon"><img src="http://avansaas.com/devXrenty/pub/static/frontend/Magebay/bookingtheme/en_US/images/icons_attributes/brand_icon.png"></span>Ford</li>
			<li class="attribute_option"><span class="attribute_icon"><img src="http://avansaas.com/devXrenty/pub/static/frontend/Magebay/bookingtheme/en_US/images/icons_attributes/color_icon.png"></span>Red</li>
			<li class="attribute_option"><span class="attribute_icon"><img src="http://avansaas.com/devXrenty/pub/static/frontend/Magebay/bookingtheme/en_US/images/icons_attributes/pass_icon.png"></span>5 passengers</li>
			<li class="attribute_option"><span class="attribute_icon"><img src="http://avansaas.com/devXrenty/pub/static/frontend/Magebay/bookingtheme/en_US/images/icons_attributes/engine_icon.png"></span>Gasoline engine</li>
			<li class="attribute_option"><span class="attribute_icon"><img src="http://avansaas.com/devXrenty/pub/static/frontend/Magebay/bookingtheme/en_US/images/icons_attributes/trans_man_icon.png"></span>Manual transmission</li>
			<li class="attribute_option"><span class="attribute_icon"><img src="http://avansaas.com/devXrenty/pub/static/frontend/Magebay/bookingtheme/en_US/images/icons_attributes/air_icon.png"></span>Air conditioner</li>
			<li class="attribute_option"><span class="attribute_icon"><img src="http://avansaas.com/devXrenty/pub/static/frontend/Magebay/bookingtheme/en_US/images/icons_attributes/sound_icon.png"></span>Sound system</li>
		</ul>
	</div>
	
</form>
